{% extends "dashboard/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="my__profile__tab radius-16 bg-white">
    
    <div class="my__details" id="info">
        <h5>Change Password</h5>
        <!--profile image upload end-->
        <form method="POST" class="d-flex flex-column gap-4">
        {% csrf_token %}
            <br>
            <div class="info__field">
                <!--Info section-->
                <div class="row row-cols-sm-2">
                    <div class="rt-input-group">
                        <label>Active User</label>
                        <input placeholder="{{request.user.first_name}} {{request.user.last_name}}"readonly>
                    </div>
                    <div class="rt-input-group">
                        <label>Old password</label>
                        {% render_field form.old_password placeholder=form.old_password.label %} 
                    </div>
                </div>
                <div class="row row-cols-sm-2">
                    <div class="rt-input-group">
                        <label>New password</label>
                        {% render_field form.new_password1 placeholder=form.new_password1.label %} 
                    </div>
                    <div class="rt-input-group">
                        <label>Retype password</label>
                        {% render_field form.new_password2 placeholder=form.new_password2.label %}
                    </div>
                </div>
                <button type="submit" class="rts__btn fill__btn">Update Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}